*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
html{
    height: 100%;
    width: 100%;
}
body{
    font-family: "Times New Roman", -apple-system, times, Georgia, serif !important;
}

.min-h-100{
    min-height: 100%;
}
.w-90{
    width: 90% !important;
}
.min-h-70vh{
    min-height: 70vh;
}
.flex-grow{
    -webkit-box-flex: 1 !important;
        -ms-flex-positive: 1 !important;
            flex-grow: 1 !important;
}

/* nav */
nav a{
    font-weight: bold !important;
}

#current-file{
    left: unset !important;
    right: 0;
}

.navbar{
    padding-bottom: .15rem;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -4px #999;
}
@media only screen and (min-width: 768px){
.navbar-nav > .nav-item > .nav-link.active{
    border-bottom: 3px solid #1A73E8 !important;
}
}

.dropdown-item:hover{
    color: #fff !important;
    background-color: #343a40!important;
}

.bg-footer{
    background-color: #f5f5f5 !important;
}
/* nav end */

/* home content */
.mt-6{
    margin-top: 4.5rem !important;
}
.pr-6{
    padding-top: 4.5rem !important;
}
.custom-file-input{
    cursor: pointer;
}
.custom-file-label::after{
    content: "BROWSE" !important;
}

.input-group-text{
    width: 10rem;
}

.input-group > .input-group-element{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 1rem;
    margin-bottom: .5rem;
}

#labelFile{
    padding-right: .5rem;
    margin-right: .5rem;
}

#myAlert{
    display: none;
}

.note-head{
    font-size: 1.15rem;
    width: 100%;
}

.note{
    font-size: 0.8rem;
    width: 100%;
}

.btn-uom{
    background-color: rebeccapurple;
    border-color: purple;
    color: #fff !important;
}
.btn-uom:hover, .btn-danger:hover, .btn-primary:hover{
    color: #fff !important;
    background-color: #343a40;
    border-color: black;
}
.btn-danger{
    color: #fff !important;
}
.btn-outline-dark:hover{
    color: #fff !important;
    border-color: black !important;
}

.decomp-zoom-in{
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
}
.decomp-zoom-out{
    cursor: -webkit-zoom-out;
    cursor: zoom-out
}

.row{
    margin-left: 0;
    margin-right: 0;
}

.td-btn{
    max-width: 100px;
}

.scripts-download-group{
    max-width: 249px;
}

@media screen and (max-width: 768px) {
    .row .form-control{
        min-width: 100% !important;
    }
    #flux-input{
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
}

@media screen and (max-width: 770px) {
    #GC{
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    #GC>div{
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: normal !important;
            -ms-flex-direction: column !important;
                flex-direction: column !important;
        -ms-flex-wrap: nowrap !important;
            flex-wrap: nowrap !important;
    }
}
/* home content end

/* download content */
.download-border{
    border-bottom: 2px solid #dee2e6 !important;
}
/* download content end */

/* footer */
.brand-icon{
    width: 6rem;
    height: auto;
}

footer a{
    color: #106177;
}
/* footer end */

/* 404 */
  #notfound {
    position: relative;
    height: 82vh;
  }
  
  #notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  
  .notfound {
    max-width: 520px;
    width: 100%;
    line-height: 1.4;
    text-align: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  .notfound .notfound-404 {
    position: relative;
    height: 200px;
    margin: 0px auto 20px;
    z-index: -1;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

  }
  
  .notfound .notfound-404 h1 {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 236px;
    font-weight: 200;
    margin: 0px;
    color: #211b19;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  
  .notfound .notfound-404 h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: 400;
    text-transform: uppercase;
    color: #211b19;
    background: #fff;
    padding: 10px 5px;
    margin: auto;
    display: inline-block;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
  }
  
  .notfound a {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 13px 23px;
    background: rebeccapurple;
    font-size: 18px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }
  
  .notfound a:hover {
    color: rebeccapurple;
    background: #767d85;
  }
  
  @media only screen and (max-width: 767px) {
    .notfound .notfound-404 h1 {
      font-size: 148px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .notfound .notfound-404 {
      height: 148px;
      margin: 0px auto 10px;
    }
    .notfound .notfound-404 h1 {
      font-size: 86px;
    }
    .notfound .notfound-404 h2 {
      font-size: 16px;
    }
    .notfound a {
      padding: 7px 15px;
      font-size: 14px;
    }
  }
/* 404 end */

/* decomp upload */
.dashboard {
    width: 80%;
    height: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 12px;
    border: 3px dashed grey;
    border-radius: 5px;
    font-size: inherit;
    color: #2c1612;
    cursor: text;
    white-space: pre-wrap; 
    /*word-break: break-all;*/
    word-wrap: break-word;
    overflow: scroll;
}
#decomp-upload-file-label{
    cursor: pointer; 
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-size: 1.25rem;
}
#decomp-upload-file-label > span{
    font-weight: bold;
    color: rebeccapurple;
}
/* decomp upload end */

/* guidance */

.clear-nav{
    height: 50px;
    width: 100%;   
}

.strong-text{
    font-weight: 700 !important;
    color: rebeccapurple !important;
}

#guidance-content{
    overflow: auto;
}

.guidance-nav-border{
    border: 1px #767d85 dashed;
}

#scripts-guidance{
    margin-bottom: 1rem;
}
#scripts-guidance .strong-text{
    overflow: auto !important; 
    display: inline-block;
    vertical-align: top;
}
@media only screen and (max-width: 520px){
    #scripts-guidance > ul{
        padding-left: 0 !important;
    }
}
#scripts-guidance .code{
    background-color: #292a35;
    color: white;
    margin-bottom: 1rem;
    padding: 0 .5rem;
    overflow: auto;
    text-align: left;
}

#guidance-contents-list{
    color: #fff;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    height: auto;
    min-width: 11rem;
    width: 11rem;
    background-color: #767d85;
}
#guidance-contents-list a{
    color: #fff;
}
#guidance-contents-list .list-items{
    position: fixed;
    font-size: 1.1rem;
    top: 20%;
}
@media only screen and (max-width: 768px){
    #guidance-contents-list{
        display: none !important;
    }
}

/* guidance end */