{% extends 'base.html' %}
{% block main %}
{% include 'nav.html' %}

<body>
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1>Oops!</h1>
                <h2>404 - The Page can't be found</h2>
            </div>
            <a href="{% url 'home' %}">Go TO Homepage</a>
        </div>
    </div>
    </body>

{% endblock main %}
    
<!-- <a href="https://www.freepik.com/free-photos-vectors/background">
    Background vector created by bamdewanto - www.freepik.com
</!--> -->
